<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title><%= title %></title>
	<link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="../../public/stylesheets/style.css">
</head>
<body>
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<span class="navbar-brand"><%= h1 %></span>
			</div>
			<ul class="nav navbar-nav navbar-right">
			<% if (user) { %>
				<li class="navbar-brand" style="font-size: 14px;">
					<span>欢迎您，<%= user.name %></span>
					<span>&nbsp;|&nbsp;</span>
					<a href="/users/logout" style="display:inline; margin: 0; padding: 0;">登出</a>
				</li>
			<% } else { %>
				<li><a href="/users/reg">注册</a>
				<li><a href="/users/login">登陆</a>
			<% } %>
			</ul>
		</div>
	</nav>
	<% if (user) { %>
	<div id="content">
		<div class="images" id="images">

		</div>
	</div>
	<div id="loader">
		<img src="../public/images/loader.gif" alt="">
	</div>
	<script src="../../node_modules/jquery/dist/jquery.min.js"></script>
	<script src="../public/javascripts/waterfall.js"></script>
	<% } else { %>
	<div id="login-tip">
		<div class="container text-center">
			<h1>登录账户有惊喜 💗</h1>
		</div>
	</div>
	<% } %>
</body>
</html>
